body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: #333333;
}

*,
*:before, /*для псевдо елементів */
*:after {
	box-sizing: border-box; /*для зручності
	щоб не рахувати всякі педдінги*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	color: #79a1df;
}

ul {
	padding-left: 0 !important;
	margin-left: 0; 
	padding-left: 0; 
}

/* Container */
.container {
	width: 100%;
	/*max-width: 1312px;*/
	min-width: 1230px;
	margin: 0 auto; /*вирівн. по центру*/
}

/* Section */
.section{
	margin: 35px 0;
}

/* Header */

.header {
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	border-bottom: 1px solid #c5c5c5;
}


.header__inner {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo img {
	margin: 13px 0;
	height: 75px;
	width: auto;
}



/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 54vh;

	background: url(assets/images/about1bg.png);
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 640px;

	margin: 50px auto 0;
	text-align: center;
}

.intro__title {
	padding-bottom: 20px;
	font-size: 70px;
	font-family: 'Lobster', cursive;
	font-weight: normal;
	color: #fff;
	line-height: 1;
	z-index: 1;
}

.intro__subtitle {
	display: none;
	position: relative;
	font-size: 72px;
	font-family: 'Lobster', cursive;
	color: #fff;
	z-index: 3;
}

.intro__search {
	height: 40px;
	width: 60%;
	padding: 12px;
	background: #fff;
	border: 1px solid #e7e7e7;
	

	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
	font-size: 20px;
	line-height: 1.1;
	color: #4c5766;
	
	font-weight: 300;
	border-radius: 30px;
}

.intro__search::placeholder {
	font-weight: bold;
	font-style: italic;
  	color: #808893;
	font-size: 20px;
}

.intro__search:focus {
	outline: 0;
	border-color: #f7a800;
}

.intro__categories{

	z-index: 2000;
	height: 67px;
	width: 100%;

	border: 1px solid #d5d5d6;
	border-top: 0;
	border-radius: 0 0 35px 35px;
	display: flex;
	justify-content: center;
	text-align: center;
	/*vertical-align: middle;*/
}

.intro__category{
	margin: auto 0;
	/*padding-top: 10px;*/

	height: 40px;
	width: 14.28%;
	line-height: 1;
	border-right: 1px solid #d5d5d5;
	position: relative;
}

.intro__category:last-child{
	border-right: 0;
}

.intro__category span{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2000;
	font-size: 14px;
	transform: translate3d(-50%, -50%, 0);

	text-transform: uppercase;
	font-weight: bold;
	color: #0d4082;
	width: 100%;
	transition: color .3s linear;

}

.intro__category:hover {
	background-color: #f8f8f8;
	box-shadow: 0 0 30px rgba(0,0,0,0.05);
}

.intro__category:hover span{
	text-decoration: none;
	color: #8f2f4c;
}


/* Nav */

.nav__link {
	display: inline-block; /*Для margin*/
	vertical-align: middle;
	color: #fff;
	text-decoration: none;

	transition: .1s linear;

	font-size: 12px;
	transform: scale(0.8, 1.4);
	letter-spacing: 0;

	font-weight: bold;
	text-transform: uppercase;
}

.header-nav1 .nav__link {
	margin: 0 10px;
}
.header-nav1 .nav__link:last-child {
	margin-right: 20px;
}


.header-nav2 .nav__link:nth-child(1){
	margin: 0 10px;
}

.header-nav2 .nav__link:nth-child(2) {
	margin: 0 18px 0 45px;
	transform: none;
}
 .header-nav2 .nav__link:nth-child(3){
	margin-left: 18px;
	transform: none;
}

.nav__link:hover {
	color: #f7a800;
	text-decoration: none;
}

.nav__link.active {
	color: #f7a800;
	text-decoration: none;
}

/* Badge */

.bdg {
	position: relative;
}


.cartbadge {
	color: #aa8033;
	position: absolute;
	bottom: -6px;
	left: 12px;
	z-index: 1001;
}

/* Sitemap */

.sitemap {
	background-color: #eefafc;
	padding: 110px 0;
}

.sitemap__block-name {
	font-weight: bold;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 20px;
	
}


.sitemap ul li {
	padding-left: 0 !important;
    list-style-type: none;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.667;
}

.sitemap p {
    font-family: 'Roboto';
    font-size: 14px;
    color: #5e7480;
    margin-bottom: 20px;
}

.sitemap__social {
	display: flex;
}

.sitemap__media {
	margin-left: 3px;
	position: relative;
	width: 35px;
	height: 35px;
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
}


.sitemap__media i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #8b8b8b;
}

.sitemap__cards img {
	width: 150px;
	height: auto;
}

/* Footer */

.footer {
	display: block;
    padding: 58px 0;
    background-color: #eefafc;
    border-top: 1px solid #d5d5d5;
}

.footer p {
	font-family: "Roboto";
    font-size: 14px;
    color: #537480;
    margin: 0;

}

.footer__name {
	padding: 15px;
}


/* Content */
.content{
	display: flex;
}

/* Sidebar */
.sidebar{
	width: 21%;
}


.sidebar__img{
	display: block;
	max-width: 100%;
	max-height: 100px;
	margin: 0 auto;
}

.sidebar__item{
	padding: 20px 25px 45px 30px;
	border: 1px solid #d5d5d6;
	border-bottom: 0;
}

.sidebar__item--for_product{
	padding: 20px 25px 1px 30px;
}

.sidebar__item--for_recommend{
	padding: 0;
	border: 0;
}


.sidebar:first-child{
	border-bottom: 1px solid #d5d5d6;
}


.sidebar__header{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #024082;
	padding: 0 0 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #f8f8f8;
    text-transform: uppercase;
    position: relative;
}

.menu__criss-cross{
	position: absolute;
	top: 0px;
	right: 0;
	z-index: 1;
}
/*-------------------------------------------*/
/* Sidebar Product */
/*#002e54*/
.sidebar__product{
	position: relative;
	padding-bottom: 25px;
	margin: 0 0 25px 0;
	padding-bottom: 75px; 
	border-bottom: 1px solid #dcdcdc;
}

.sidebar__products--for_recommend{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.sidebar__products--for_recommend .sidebar__tocart{
	display: none;
}

.sidebar__products--for_recommend .sidebar__product{
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	/*margin: 0 15px 0 0;*/
	padding: 25px 16px 86px 16px;
	width: 25%;
	
}

.sidebar__products--for_recommend .sidebar__price{
	left: 16px;
}

.sidebar__product:last-child{
	border-bottom: 0;
}

.sidebar__products--for_recommend 
.sidebar__product:last-child{
	border-bottom: 1px solid #dcdcdc;
}

.sidebar__title{
	/*margin-bottom: 5px;*/
	line-height: 1.2;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.sidebar__title:hover{
	text-decoration: none;
	color: #a93535;
}

/*.sidebar__description{
	font-family: 'Arial', sans-serif;
	font-size: 13px;

}*/

.sidebar__price{
	position: absolute;
	bottom: 31px;
	left: 0;
	z-index: 1;
}

.grey__group {
	display: flex;
	flex-direction: row;
	margin: 10px 0 -10px 0;
}

.grey_price{
	/*display: block;*/
	font-size: 14px;
	line-height: 1;
	color: #989898;
	text-decoration: line-through;
	font-family: 'Montserrat', sans-serif;
}

.reviews{
	margin-left: 6px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}


.price{
	display: block;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 0.9;
	margin-top: 8px;
	/*color: #b30f0f;*/
	color: #8f2f4c;
}

.sidebar__label--recommend{
	position: absolute;
	top: 7px;
	left: 13px;
	z-index: 1;
	background-color: #ffbd10;
	color: white;
}

.sidebar__label{
	background-color: #ffbd10;
	color: white;
}

.sidebar__tocart{
	display: block;

	padding: 8px 10px;

	font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    

	position: absolute;
	bottom: 29px;
	right: -4px;
	z-index: 1;
	color: black;
	background-color: #ffbe00;
	transition: all .2s linear;
}

.sidebar__tocart:hover{
	color: white;
	background-color: #263346;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

/*-------------------------------------------*/
.sidebar__nav{
	display: flex;
	flex-direction: column;
}

.snav__group{
	margin: 6px 10px 6px 7px;
}


.snav__mainlink {
 	display: block;
	text-decoration: none;
	/*color: #a93535;*/
	color: #8f2f4c;
	line-height: 1.1;
	transition: font-weight .1s linear;
}

.snav__link {
	display: none;
	text-decoration: none;
	/*color: #a93535;*/
	color: #8f2f4c;
	line-height: 1.1;
	transition: font-weight .1s linear;
}

.mainlink.active .snav__link{
	display: block;
}

.snav__mainlink:hover,
 .snav__link:hover{
 	text-decoration: none;
 	color: #a93535;
 	font-weight: bold;
 }

.mainlink.active .snav__mainlink{
	font-weight: bold;
}

.snav__link.active{
	font-weight: bold;
}

.snav__mainlink{
	font-size: 16px;
}


.snav__link{
	margin: 6px 6px 6px 23px;
	font-size: 12px;
	color: #615908 !important;
}

.snav__marker{
	display: inline-block;
	background: transparent;
	border-radius: 2.5px;
	padding: 5px;
	position: relative;
	color: #fff;
	font-size: 0;
	color: transparent;
}

.snav__marker:before{
	content: ''; 
    position: absolute; 
    left: 0; bottom: 2px; 
    border: 4px solid transparent;
    border-left: 4px solid #024082;
}

/*.snav__marker--opened:before{
    transform: rotate(90deg);
    left: 0; 
    bottom: 0;
}*/


 /*MAIN */
.main{
	margin-left: 2.5%;
	margin-top: 2.5%;
	width: 75.5%;
}

/*Category*/
.category{
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
}
.category__item{
	padding: 18px 11px;
	margin-left: 1%;
	margin-bottom: 1%;

	width: 24%;
	height: 172px;

	border: 1px solid #e3e3e3;

	position: relative;
	transition: box-shadow .2s linear;
}

.category__item:hover{
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.category__image{
	display: block;
	width: 150px;
	height: auto;
	margin: 0 auto;
	position: static;
	z-index: 1;
}

.category__title{
	display: block;
	width: 80%;

	text-align: center;
	font-size: 13px;
	font-family: 'Verdana';
	color: #3d3d3d;
	font-weight: bold;

	position: absolute;
	bottom: 5px;
	left: 50%;
	z-index: 1000;

	transform: translateX(-50%);
}

/*Recommend*/

.recommend__title{
	margin: 30px 0 24px 0;
}



/* MEDIA AREA */


@media (max-width: 1235px) { /*Монітори*/

	/* Intro */
	.header__inner {
		justify-content: center;
		margin: 0;
	}
	

}


@media (max-width: 990px) { /*Планшети Ландскейп*/


}


@media (max-width: 770px) { /*Портретна*/

	/* Intro */

}


@media (max-width: 575px) { /*Мобільні*/

	/* Intro */

}