
<section class="section">
	<div class="section__footer__bg">

		<a href="https://www.borntofish.org/" target="_blank"><i class="fas fa-backward"></i> На сайт borntofish.org...</a>
	</div>
</section>


<div class="sitemap">
	<div class="container">
		<div class="row p-3">
			<div class="col-sm-3 col-lg-3 col d-none d-lg-block">
				<span class="sitemap__block-name">Меню</span>
				<ul class="col-sm-4">
					<li><a href="https://www.borntofish.org/">На сайт</a></li>
					<li><a href="{% url 'homepage' %}">Магазин</a></li>
					<li><a href="https://www.borntofish.org/terms-and-conditions">Публічна оферта</a></li>
					<li><a href="https://www.borntofish.org/policy">Гарантія</a></li>
					<li><a href="https://www.borntofish.org/contacts">Контакти</a></li>
				</ul>
			</div>
			<div class="col-sm-7 col-12 col-lg-3 col pl-0">
				<span class="sitemap__block-name">МИ В СОЦМЕРЕЖАХ</span>
				<p>Напиши нам в одній із соц-мереж</p>
				<div class="sitemap__social mb-3">
					<div class="sitemap__media">
						<a href="https://www.facebook.com/groups/337815630725074" target="_blank"><i class="fab fa-facebook-f"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="https://invite.viber.com/?g2=AQB2s9jEjxfv2Evwi4YOf3uzSFrM%2B5aaUQ5MKUfRhRx6Ys1pWzETavPD%2B9mbIcIW"
                           target="_blank"><i class="fab fa-viber"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="https://www.borntofish.org/skype:ivan.hrytskiv" target="_blank"><i class="fab fa-skype"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="https://www.youtube.com/channel/UC0F2Hoof1ALrjdkDTn76TWA" target="_blank"><i class="fab fa-youtube"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="http://t.me/Borntofish_bot" target="_blank"><i class="fab fa-telegram-plane"></i></a>
					</div>
				</div>
				<p>Наш сайт використовує систему оплати
                    <a target="_blank" href="https://www.liqpay.ua/">LiqPay</a>.
                    <a target="_blank" href="https://www.borntofish.org/terms-and-conditions">Договір публічної оферти</a>
                </p>
				<div class="sitemap__cards mt-2">
					<img src="{{ PORTAL_URL }}/media/assets/cards.png" alt="">
				</div>

			</div>
		</div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<p>
			<span class="footer__name">©2021.  Borntofish. All rights reserved.</span>
			<a target="_blank" href="https://www.borntofish.org/policy">Полiтика конфiденцiйностi</a>
			<a target="_blank" href="https://www.borntofish.org/terms-and-conditions">Публічна оферта</a>
		</p>
	</div>
</footer>