{% extends 'fishapp/base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
{% endblock additional_css %}

{% block meta_title %}Born to Fish - Магазин{% endblock meta_title %}

{% block sidebar_additional_content %}{% endblock sidebar_additional_content %}

{% block main--for_product %}main--for_product{% endblock main--for_product %}

{% block another_recommend %}{% endblock another_recommend %}

{% block load_more %}{% endblock load_more %}

{% block pagination %}{% endblock pagination %}


{% block additional_js %}
{#    <script src="{% static 'js/headercrumb.js'%}"></script>#}
    <script src="{% static 'js/select.js'%}"></script>
    <script src="{% static 'js/change_qty.js'%}"></script>
{% endblock additional_js%}

{% block alert %}success{% endblock alert %}

{% block content %}
    <div class="cart">

        <h3>Кошик</h3>

        {% if cart.products.all.count > 0 %}
            <table class="cart_table">

              <thead class="thead">
                <tr>
                  <th></th>
                  <th></th>
                  <th class="th" scope="col">К-сть</th>
                  <th class="th" scope="col">Сума</th>
                </tr>
              </thead>

              <tbody>
              {% csrf_token %}

              {%  for cart_product in cart.products.all %}
                <tr>
                    {% if cart_product.product.related_images.first %}
                        <th class="cart_img" scope="row"><a href="{{ cart_product.product.get_absolute_url }}"><img src="{{ PORTAL_URL }}{{ cart_product.product.related_images.first }}" alt="cp"></a></th>
                    {% else %}
                        <th class="cart_img noimg" scope="row"><a href="{{ cart_product.product.get_absolute_url }}"><img src="{{ PORTAL_URL }}/media/assets/no-camera--v1.png" alt="No camera"></a></th>
                    {% endif %}

                    <td class="cart_titlePrice">
                        <a href="{{ cart_product.product.get_absolute_url }}" class="cart_title">{{ cart_product.product.title }}</a>
                        <div class="cart_price">{{ cart_product.product.price }} <span class="cart_currency">грн</span></div>
                    </td>
                    <td class="cart_quantity" id="ajax-td">
                        <input data-url="{{ cart_product.product.get_absolute_change_qty }}"
                               value="{{ cart_product.qty }}"
                               type="number"
                               {% if cart_product.calculate_max_qty %}max='{{ cart_product.calculate_max_qty|add:1 }}'{% endif %}
                               min="0"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="мінімум - 1">
                    </td>
                    <td class="cart_price forsum">{{ cart_product.final_price }} <span class="cart_currency">грн</span>
                        <a class="cart_to_trash" href="{{ cart_product.product.get_absolute_remove_from_cart }}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
        {% else %}
            <h3 class="cart_empty">Ваш кошик пустий</h3>
        {% endif %}

    </div>

    {% if cart.products.all.count > 0 %}
        <div class="cart_calculations">
            <a href="{% url 'checkout' %}" class="cart_make_order"><span>Оформити замовлення</span></a>

            <div class="cart_summing">
                <div class="cart_total">Кількість: {{ cart.total_products }}</div>
                <div class="cart_for_pay">До оплати:</div>
                <div class="cart_sum_for_pay">{{ cart.final_price }} <span class="cart_pay_currency">грн</span></div>
            </div>
        </div>
    {% endif %}
{% endblock content %}







				

