{% extends 'fishapp/base.html' %}
{% load static %}

{#<link rel="stylesheet" href="{% static 'css/catalog.css' %}">     + #}
{#<link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">  + #}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock additional_css %}

{% block meta_title %}Born to Fish - Магазин{% endblock meta_title %}

{% block sidebar_additional_content %}{% endblock sidebar_additional_content %}

{% block main--for_product %}main--for_product{% endblock main--for_product %}

{% block another_recommend %}{% endblock another_recommend %}

{% block load_more %}{% endblock load_more %}

{% block pagination %}{% endblock pagination %}

{#<script src="{% static 'js/app.js'%}"></script>            + #}
{#<script src="{% static 'js/breadcrumb.js'%}"></script>     + #}
{#<script src="{% static 'js/mach.js'%}"></script>           + #}
{% block additional_js %}
    <script src="{% static 'js/select.js' %}"></script>
{#    <script src="{% static 'js/headercrumb.js'%}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/product_cookie.js' %}"></script>
    <script src="{% static 'js/product.js' %}"></script>
{% endblock additional_js%}


{% block content %}
    <div class="product">
        {% csrf_token %}

        <div class="product_title">{{ product.title }}</div>

        <a type="button" id="product_photoblock" class="product_photoblock">
            <!-- <img class="product_photo" src="no-camera--v1.png" alt="no-photo"> -->
{#            {% if product.discount %}#}
{#                <div class="discounts discounts--product">#}
{#                    <span class="discounts__value">-{{ product.discount }}%</span>#}
{#                    <img class="discounts__image" src="{{ PORTAL_URL }}/media/assets/discount.png" alt="discounts">#}
{#                </div>#}
{#            {% endif %}#}

            {% if product.related_images.first %}
                   <div class="img-zoom-container">
                   <div id="myresult" class="img-zoom-result"></div>
                      <img id="myimage" class="product_photo" src="{{ PORTAL_URL }}{{ product.related_images.first }}" alt="product">
                    </div>
            {% else %}
                <img id="product_photo" class="product_photo" src="{{ PORTAL_URL }}/media/assets/no-camera--v1.png" style="opacity: .7;max-height: 130px;" alt="no-photo">
            {% endif %}
        </a>

        <!-- The Modal -->
        <div id="productPhotoModal" class="modal">

          <!-- Modal content -->
          <div id="modal-content" class="modal-content">
              <a id="modal_left_arrow" href="#"><i class="fas fa-chevron-left modal_left_arrow"></i></a>

              <span class="close">&times;</span>
              <div id="product_photo_big_block">
                <img id="product_photo_big" src="{{ PORTAL_URL }}{{ product.related_images.first }}" alt="product">
              </div>

              <a id="modal_right_arrow" href="#"><i class="fas fa-chevron-right modal_right_arrow"></i></a>
          </div>
        </div>

        <div class="product_info">
            <div class="product_priceblock">
                <div class="product_actual_price">
                    <span class="product_price">{{ product.price }}</span>
                    <span class="product_currency">грн.</span>
                </div>
{#                {% if product.discount %}#}
{#                    <div class="product_discount_price">#}
{#                        <span class="product_greyprice">{{ product.calc_no_discount_price }}</span>#}
{#                        <span class="product_currency_greyprice">грн.</span>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>

            <hr class="product_hr">

            <div class="product_artykul">
                Артикул:
                <span class="product_code">{{ product.code }}</span>
            </div>
            <div class="product_artykul">
                На складі:
                <span class="product_code">{{ product.remaining }}</span>
            </div>
            {% with product as obj %}
                {% include 'include/staff.html' %}
            {% endwith %}
            <hr>

            <a href="{% if user.is_authenticated %}{% if in_cart %}{{ product.get_absolute_remove_from_cart }}{% else %}{{ product.get_absolute_add_to_cart }}{% endif %}{% else %}{% url 'login' %}{% endif %}" class='product_tocart {% if in_cart %}in{% endif %}'><span class="tocart_text {% if in_cart %}in{% endif %}">{% if user.is_authenticated %}{% if in_cart %}Видалити з кошика{% else %}У кошик{% endif %}{% else %}Увійти{% endif %}</span></a>

            <div class="product_contacts">
                Контакти:
                <span class="product_contacts_list"><a style="color: black;" href="tel:+380686646085">+380686646085</a>, <a style="color: black;" href="tel:+380686646085">+380632472460</a></span>
            </div>

            <hr class="product_bold_hr">
        </div>

        {% if product.related_images.all.count > 1 %}
            <div class="product_extra_photos">
                {% for photo in product.related_images.all %}
                    {% if forloop.counter0 > 0 %}
                        <a href="{{ PORTAL_URL }}{{ photo }}" class="product_extra_photo">
                            <img class="product_extra_img" src="{{ PORTAL_URL }}{{ photo }}" alt="">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if product.description %}
            <div class="product_description">
                {{ html_description }}
                <br>
                <br>
            </div>
        {% endif %}

    </div>

    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-link active text-info" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Умови оплати та доставки</a>
        <a class="nav-link text-info" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Графік роботи</a>
        <a class="nav-link text-info" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Умови повернення та порядок оформлення замовлення</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <p class="rule-name">ПОРЯДОК ОПЛАТИ</p>
          <p class="rule-text">1. Покупець оплачує Товари та послуги, що «web-ресурсом», а також зобов'язується відшкодувати фактичні витрати «web-ресурсу» на виконання доручення Покупця, згідно з умовами цього договору.</p>
          <p class="rule-text">2. Загальна вартість Замовлення, що включає повну вартість Товарів, послуг «web-ресурсу» і відшкодування понесених нею фактичних витрат на здійснення доручення Покупця, дорівнює сумі, що підлягає оплаті і вказується на Сайті при оформленні і в момент розміщення Замовлення.<br>
          ПОКУПЕЦЬ проводить 100 % оплату товару відповідно до Замовлення на підставі рахунка ПРОДАВЦЯ, якщо інше не зазначено в рахунку на оплату.<br>
          Замовлення вважається оплаченим з моменту надходження 100 % оплати за товар на розрахунковий рахунок ПРОДАВЦЯ. Факт такої оплати свідчить про згоду ПОКУПЦЯ з умовами даного Договору.<br>
          Доставка Замовлення ПРОДАВЦЕМ виконується після 100 % оплати Замовлення.</p>
          <p class="rule-text">3. Покупець повинен ознайомитися з зовнішнім виглядом доставлених Товарів, послуг у вказаному місці їх доставки.</p>

          <p class="rule-name">Порядок доставки Замовлень </p>
          <p class="rule-text">
        1. Доставка здійснюється за домомогою Служби доставки відповідно до обранного Покупцем варіанта доставки, згідно з умовами та за тарифами Служби доставки.
      </p>
          <p class="rule-text">2. Умови доставки:</p>
          <p class="rule-text">2.1 Про можливість доставки за межі України Покупцеві слід уточнювати в адміністрації «web-ресурсу».</p>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Графік роботи...</div>

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <p class="rule-name">Умови повернення</p>
          <p class="rule-text">
				1. «web-ресурс» здійснює доставку Замовлення в зазначене Покупцем місце, щоб останній міг отримати оплачений Товар. 
			</p>
          <p class="rule-text">
				1.2 «web-ресурс» не несе жодної відповідальності за вказані Покупцем неправдиві дані для доставки Товару, послуги.
			</p>
          <p class="rule-text">
				2. У разі бажання повернути придбану продукцію, послугу необхідно зв'язатися з адміністрацією «web-ресурсу» по e-mail <span id="cloakd2dcbd99ec1cdb0a3573224cc9f3c540"><a href="mailto:info@borntofish.org">info@borntofish.org</a></span><script type="text/javascript">
				document.getElementById('cloakd2dcbd99ec1cdb0a3573224cc9f3c540').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyd2dcbd99ec1cdb0a3573224cc9f3c540 = '&#105;nf&#111;' + '&#64;';
				addyd2dcbd99ec1cdb0a3573224cc9f3c540 = addyd2dcbd99ec1cdb0a3573224cc9f3c540 + 'b&#111;rnt&#111;f&#105;sh' + '&#46;' + '&#111;rg';
				var addy_textd2dcbd99ec1cdb0a3573224cc9f3c540 = '&#105;nf&#111;' + '&#64;' + 'b&#111;rnt&#111;f&#105;sh' + '&#46;' + '&#111;rg';document.getElementById('cloakd2dcbd99ec1cdb0a3573224cc9f3c540').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyd2dcbd99ec1cdb0a3573224cc9f3c540 + '\'>'+addy_textd2dcbd99ec1cdb0a3573224cc9f3c540+'<\/a>';
		</script>, вказавши причину, номер замовлення і контактні дані. 
			</p>
          <p class="rule-text">
				3. Повернення товару здійснюється протягом 14 календарних днів від дати покупки при наступних умовах: 1) збереження цілісності товару і упаковки, 2) товар, не був у вживанні і не має слідів використання.
			</p>
          <p class="rule-text">
            4. Повернення товару здійснюється за рахунок покупця.
          </p>

          <p class="rule-name">Порядок оформлення Замовлення </p>
          <p class="rule-text">
				1. Покупець оформляє Замовлення на Сайті самостійно, шляхом натискання кнопки «Оформити замовлення».
			</p>
          <p class="rule-text">
				2. Оформити Замовлення на Товари, послуги можуть всі Покупці. Замовлення обробляються і доставляються по Україні після оплати.
			</p>
          <p class="rule-text">
				3. Оплата здійснюється через: онлайн банківською платіжною карткою VISA/MasterCard, онлайн через інтернет-банкінг Liqpay.
			</p>
          <p class="rule-text">
				Оплата готівкою або наложеним платежем не доступна. Оплата проводиться в національній валюті України – гривнях.
			</p>
      </div>
    </div>
{% endblock content %}
