<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

{#	<link rel="stylesheet" type="text/css" href="../../static/css/catalog.css">#}
    <link rel="stylesheet" href="{% static "css/catalog.css" %}">
	<link rel="stylesheet" href="../../static/css/breadcrumb.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">


	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

	<title>Born to Fish - Магазин</title>

</head>
<body>

<header id="header" class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="header__logo" data-scroll="#intro"><img src="media/LogoUK_cropped.png" alt=""></a>
			<nav id="header-nav1" class="header-nav1">
				<a class="nav__link" href="#" data-click=''>На сайт</a>
				<a id="header_selected" class="nav__link active" href="#" data-click=''>Магазин</a>
				<!-- <a class="nav__link" href="#">Бренди</a> -->
				<a class="nav__link" href="#" data-click=''>Публічна оферта</a>
				<a class="nav__link" href="#" data-click=''>Гарантія</a>
				<a class="nav__link" href="#" data-click=''>Контакти</a>
			</nav>

			<form id="header_mobile_search_form" method="GET" action="" class="header_mobile_search_form">
				<input type="search" id="mobile_search_input" name="mobile_search_input" placeholder="Що шукаєш?">
				<button id="mobile_search_button" type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
			</form>

			<div id="header_breadcrumb" class="header_breadcrumb hidden">
				<div class="font-up-bold text-uppercase">
					<nav aria-label="breadcrumb MY">
					  <ol class="breadcrumb bg-transparent justify-content-center br_items text-white MY">
					    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
					    <li class="breadcrumb-item"><a class="text-white" href="#">Library</a></li>
					    <li class="breadcrumb-item active text-white" aria-current="page">Data</li>
					  </ol>
					</nav>
				</div>
			</div>

			<nav class="header-nav2">
				<!-- <a class="nav__link" href="#">Профіль</a> -->

				<a class="nav__link" href="#">
					<div class="bdg">
						<img src="../../../assets/images/header/Cart.png" alt="" >
						<span class="badge badge-pill badge-light cartbadge">2</span>
					</div>
				</a>
				<a id="header_search_a" class="nav__link" href="#"><img src="../../../assets/images/header/Search.png" alt=""></a>
			</nav>

			<button class="nav-toggle" id="nav-toggle" type="button">
				<span class="nav-toggle__item">Menu</span>
			</button>
		</div>
	</div>
</header>

<div id="intro" class="intro">

	<div class="container">
		<div class="intro__inner">
			<div class="intro__title">Магазин ТМ</div>
			<div class="intro__subtitle">New Arrival</div>
			<!-- <a href="#" class="badge badge-pill badge-primary intro__btn">В магазин</a> -->
			<form action="#">
				<input class="intro__search" type="text" placeholder="Що шукаєш?">
			</form>

			<div class="font-up-bold text-uppercase">
				<nav aria-label="breadcrumb MY">
				  <ol class="breadcrumb bg-transparent justify-content-center br_items text-white MY">
				    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
				    <li class="breadcrumb-item"><a class="text-white" href="#">Library</a></li>
				    <li class="breadcrumb-item active text-white" aria-current="page">Data</li>
				    <li class="breadcrumb-item active text-white" aria-current="page">Data</li>
				    <li class="breadcrumb-item active text-white" aria-current="page">Data</li>
				  </ol>
				</nav>
			</div>


		</div>
	</div>
</div>

<div class="intro__categories">
	<a  href="#" class="intro__category">
		<span>Вудилища</span>
	</a>
	<a href="#" class="intro__category">
		<span>Котушки</span>
	</a>
	<a  href="#" class="intro__category">
		<span>Електроніка для рибалки та туризму</span>
	</a>
	<a href="#" class="intro__category">
		<span>Екіпірування</span>
	</a>
	<a  href="#" class="intro__category">
		<span>Одяг та взуття</span>
	</a>
	<a href="#" class="intro__category">
		<span>Туризм</span>
	</a>
	<a href="#" class="intro__category">
		<span>Стільці та крісла</span>
	</a>
</div>

<!-- MOBILE FILTER -->
<!-- <div id="mobile_filter" class="mobile_filter">
	<div class="mobile_filter__item first">
		<i class="fas fa-sync-alt"></i>
	</div>


	<select class="mobile_filter__item mobile_sorting" name="select_mobile_sorting" id="select_mobile_sorting">
		<option value="">Сортування</option>
		<option value="">За зростанням ціни</option>
		<option value="">За спаданням ціни</option>
		<option value="">За назвою</option>
		<option value="">За новизною</option>
	</select>


	<select class="mobile_filter__item mobile_filtering" name="select_mobile_filtering" id="select_mobile_filtering">
		<option value="">Товарів</option>
		<option value="">8</option>
		<option value="">16</option>
		<option value="">24</option>
		<option value="">32</option>
	</select>

</div> -->

<section class="section">
	<div class="container">
		<div class="content">

			<div class="sidebar">
				<div class="sidebar__item">
					<div class="sidebar__header">
						<span>Категорії товарів</span>
						<a href="#"><span class="menu__criss-cross">&#10008;</span></a>
					</div>
					<nav class="sidebar__nav">
						<div class="snav__group">
							<div class="mainlink active">
								<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Вудилища</a>
								<a class="snav__link" href="#">Спінінги</a>
								<a class="snav__link" href="#">Фідерні вудилища</a>
								<a class="snav__link" href="#">Болонські вудилища</a>
								<a class="snav__link" href="#">Карпові</a>
							</div>
						</div>
						<div class="snav__group">
							<div class="mainlink">
								<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Котушки</a>
								<a class="snav__link" href="#">Безінерційні</a>
								<a class="snav__link" href="#">З бейтраннером</a>
								<a class="snav__link" href="#">Мультиплікаторні котушки</a>
							</div>
						</div>
						<div class="snav__group">
							<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Електроніка для рибалки та туризму</a>
						</div>
						<div class="snav__group">
							<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Екіпірування</a>
						</div>
						<div class="snav__group">
							<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Одяг та взуття</a>
						</div>
						<div class="snav__group">
							<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Туризм</a>
						</div>
						<div class="snav__group">
							<a class="snav__mainlink" href="#"><div class="snav__marker"></div>Стільці та крісла</a>
						</div>
					</nav>
				</div>

				<div class="sidebar__item sidebar__item--for_product">
					<div class="sidebar__header">
						<span>Топ продажів</span>
						<a href="#"><span class="menu__criss-cross">&#10008;</span></a>
					</div>
					<div class="sidebar__products">
						<div class="sidebar__product">
							<div class="badge badge-pill sidebar__label">Топ продаж</div>
							<!-- <img src="C:\Users\Користувач\Desktop\_1.jpg" alt="image"> -->
							<a href="#" class="sidebar__imgblock">
								<img class="sidebar__img" src="https://images.ua.prom.st/1220510243_w200_h200_fiderna-kotushka-energofish.jpg" alt="">
							</a>
							<a href="#" class="sidebar__title">
								<span href="#">Фідерна прикормка Fanatic Method</span>
							</a>
							<div class="sidebar__description">
								Код: <span>111235</span>
							</div>
							<div class="sidebar__price">
								<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
								<span class="price">22 грн.</span>
							</div>
							<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
						</div>

						<div class="sidebar__product">
							<div class="badge badge-pill sidebar__label">Топ продаж</div>
							<a href="#" class="sidebar__imgblock">
								<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px;">
							</a>
							<a href="#" class="sidebar__title">
								<span href="#">Фідерна прикормка Fanatic Method</span>
							</a>
							<div class="sidebar__description">
								Код: <span>111235</span>
							</div>
							<div class="sidebar__price">
								<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
								<span class="price">22 грн.</span>
							</div>
							<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
						</div>

						<div class="sidebar__product">
							<div class="badge badge-pill sidebar__label">Топ продаж</div>
							<a href="#" class="sidebar__imgblock">
								<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px;">
							</a>
							<a href="#" class="sidebar__title">
								<span href="#">Фідерна прикормка Fanatic Method</span>
							</a>
							<div class="sidebar__description">
								Код: <span>111235</span>
							</div>
							<div class="sidebar__price">
								<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
								<span class="price">22 грн.</span>
							</div>
							<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
						</div>


					</div>
				</div>

				<div class="sidebar__item sidebar__item--for_product">
					<div class="sidebar__header">
						<span>Ви переглядали</span>
						<a href="#"><span class="menu__criss-cross">&#10008;</span></a>
					</div>
					<div class="sidebar__products">
						<div class="sidebar__product">
							<a href="#" class="sidebar__imgblock">
								<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px;">
							</a>
							<a href="#" class="sidebar__title">
								<span href="#">Фідерна прикормка Fanatic Method</span>
							</a>
							<div class="sidebar__description">
								Код: <span>111235</span>
							</div>
							<div class="sidebar__price">
								<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
								<span class="price">22 грн.</span>
							</div>
							<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
						</div>

					</div>
				</div>


			</div>

			<div class="main main--for_product">

				<div class="d-flex justify-content-left">
				     <nav aria-label="breadcrumb custom" class="first d-md-flex">
				         <ol class="breadcrumb indigo lighten-6 first-1 custom">
				             <li class="breadcrumb-item custom"><a class="brcra black-text active-2" href="#"><img id="home" class="brcrim" src="https://img.icons8.com/ios-filled/50/000000/dog-house.png" class="mr-md-2 mr-1" width="22" height="19"><span>HOME</span></a><img class="brcrim md-3 ml-1" src="https://img.icons8.com/metro/50/000000/chevron-right.png " width="20" height="20"> </li>
				             <li class="breadcrumb-item custom"><a class="brcra black-text active-2" href="#"><span>Cooking</span></a><img class="brcrim md-3 ml-1" src="https://img.icons8.com/metro/50/000000/chevron-right.png " width="20" height="20"></li>
				             <li class="breadcrumb-item custom"><a class="brcra black-text active-2 " href="#"><span>Baking</span></a><img class="brcrim md-3 ml-1" src="https://img.icons8.com/metro/50/000000/chevron-right.png " width="20" height="20"> </li>
				             <li class="breadcrumb-item custom mr-0 pr-0"><a class="brcra black-text active-1 active-2" href="#"><span>Спиннинг Wizard ...</span></a> </li>
				         </ol>
				     </nav>
				 </div>

				<div class="category">
					<a href="#" class="category__item">
						<img class="category__image" src="https://happyfisher.com.ua/images/categories/eqi93.png" alt="category image">
						<span class="category__title">Вудилища</span>
					</a>
					<a href="#" class="category__item">
						<img class="category__image" src="https://happyfisher.com.ua/images/categories/001.png" alt="category image">
						<span class="category__title">Котушки</span>
					</a>
					<a href="#" class="category__item">
						<img class="category__image" src="https://happyfisher.com.ua/images/categories/6jnjp.png" alt="category image">
						<span class="category__title">Електроніка для рибалки та туризму</span>
					</a>
					<a href="#" class="category__item">
						<img class="category__image" src="https://happyfisher.com.ua/images/categories/bp2ga.png" alt="category image">
						<span class="category__title">Екіпірування</span>
					</a>
					<a href="#" class="category__item">
						<img class="category__image" src="https://happyfisher.com.ua/images/categories/005.png" alt="category image">
						<span class="category__title">Туризм</span>
					</a>
					<a href="#" class="category__item">
						<img class="category__image" src="https://happyfisher.com.ua/images/categories/r0pzf.jpg" alt="category image">
						<span class="category__title">Стільці та крісла</span>
					</a>

				</div>

				<div class="recommend">
					<!-- <div class="recommend__group">
						<div class="recommend__item">

						</div>
					</div> -->
					<div class="sidebar__item sidebar__item--for_product sidebar__item--for_recommend">
						<h2 class="recommend__title">Також вас можуть зацікавити</h2>

						<div class="sidebar__products sidebar__products--for_recommend">
							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="https://images.ua.prom.st/1220510243_w200_h200_fiderna-kotushka-energofish.jpg" alt="">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="https://images.ua.prom.st/1220510243_w200_h200_fiderna-kotushka-energofish.jpg" alt="">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="https://images.ua.prom.st/1220510243_w200_h200_fiderna-kotushka-energofish.jpg" alt="">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="https://images.ua.prom.st/1220510243_w200_h200_fiderna-kotushka-energofish.jpg" alt="">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="https://images.ua.prom.st/1220510243_w200_h200_fiderna-kotushka-energofish.jpg" alt="">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

						</div>
					</div>
				<!-- </div> -->


				<!-- <div class="recommend"> -->
					<!-- <h2 class="recommend__title">Новинки</h2> -->
					<!-- <div class="recommend__group">
						<div class="recommend__item">

						</div>
					</div> -->
					<div class="sidebar__item sidebar__item--for_product sidebar__item--for_recommend">
						<h2 class="recommend__title">Новинки</h2>

						<div class="sidebar__products sidebar__products--for_recommend">
							<div class="sidebar__product">
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<div class="badge badge-pill sidebar__label sidebar__label--recommend">Топ продаж</div>
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

							<div class="sidebar__product">
								<a href="#" class="sidebar__imgblock">
									<img class="sidebar__img" src="../../../media/no-camera--v1.png" style="max-height: 90px; margin: 5px auto 5px auto;">
								</a>
								<a href="#" class="sidebar__title">
									<span href="#">Фідерна прикормка Fanatic Method</span>
								</a>
								<div class="sidebar__description">
									Код: <span>111235</span>
								</div>
								<div class="sidebar__price">
									<div class="grey__group">
										<span class="grey_price">39 грн.</span>
										<a href="#" class="reviews">15 відгуків</a>
									</div>
									<span class="price">22 грн.</span>
								</div>
								<a class="badge badge-pill sidebar__tocart" href="#"><span>У кошик</span></a>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>


	</div>
</section>

<section class="section">
	<div class="section__footer__bg">

		<a href="#"><i class="fas fa-backward"></i> На сайт borntofish.org...</a>
	</div>
</section>


<div class="sitemap">
	<div class="container">
		<div class="row p-3">
			<div class="col-sm-3 col-lg-3 col d-none d-lg-block">
				<span class="sitemap__block-name">Меню</span>
				<ul class="col-sm-4">
					<li><a href="#">На сайт</a></li>
					<li><a href="#">Магазин</a></li>
					<li><a href="#">Бренди</a></li>
					<li><a href="#">Доставка і оплата</a></li>
					<li><a href="#">Гарантія</a></li>
					<li><a href="#">Контакти</a></li>
					<li><a href="#">Профіль</a></li>
				</ul>
			</div>
			<div class="col-sm-7 col-12 col-lg-3 col pl-0">
				<span class="sitemap__block-name">МИ В СОЦМЕРЕЖАХ</span>
				<p>Напиши нам в одній із соц-мереж</p>
				<div class="sitemap__social mb-3">
					<div class="sitemap__media">
						<a href="https://www.facebook.com/groups/337815630725074" target="_blank"><i class="fab fa-facebook-f"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="https://invite.viber.com/?g2=AQB2s9jEjxfv2Evwi4YOf3uzSFrM%2B5aaUQ5MKUfRhRx6Ys1pWzETavPD%2B9mbIcIW" target="_blank"><i class="fab fa-viber"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="https://www.borntofish.org/skype:ivan.hrytskiv" target="_blank"><i class="fab fa-skype"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="https://www.youtube.com/channel/UC0F2Hoof1ALrjdkDTn76TWA" target="_blank"><i class="fab fa-youtube"></i></a>
					</div>
					<div class="sitemap__media">
						<a href="http://t.me/Borntofish_bot" target="_blank"><i class="fab fa-telegram-plane"></i></a>
					</div>
				</div>
				<p>Наш сайт використовує систему оплати <a target="_blank" href="https://www.liqpay.ua/">LiqPay</a>. <a target="_blank" href="https://www.borntofish.org/terms-and-conditions">Договір публічної оферти</a></p>
				<div class="sitemap__cards mt-2">
					<img src="../../../assets/images/cards.png" alt="">
				</div>

			</div>
		</div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<p>
			<span class="footer__name">©2021.  Borntofish. All rights reserved.</span>
			<a target="_blank" href="https://www.borntofish.org/policy">Полiтика конфiденцiйностi</a>
			<a target="_blank" href="https://www.borntofish.org/terms-and-conditions">Публічна оферта</a>
		</p>
	</div>
</footer>

<script src="https://kit.fontawesome.com/b53d493ccf.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../../static/js/app.js"></script>
<script src="../../static/js/breadcrumb.js"></script>
<script src="../../static/js/mach.js"></script>
<script src="../../static/js/headercrumb.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>




</body>
</html>